.idea
out
target
*.iml
log
*.patch


/lib/javax.annotation.jar
/lib/javax.ejb.jar
/lib/javax.jms.jar
/lib/javax.persistence.jar
/lib/javax.resource.jar
/lib/javax.servlet.jsp.jar
/lib/javax.transaction.jar
